*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------------- En-Tête --------------------- */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    padding: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
}

header nav ul li .btn{
    background-color: #2aff8a;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}

header nav ul li .btn:hover{
    background-color: #30e983;
}

header nav h1{
    font-size: 3em;
    font-weight: 200px;
}

header nav h1 .style{
    color: #2aff8a;
}

